<main>
  <section>
    <div class="card">
    <% if @user.photo.present? %>
    <%= image_tag(user.photo, class: "user-image border") %>
  <% else %>
    <!-- Provide a placeholder image or default image here if 'user.photo' is nil -->
  <% end %>
        <div class="user-data border">
        <h1><%= @user.name %></h1>
        <p class="number-posts"><%= @user.posts_counter %> Posts</p>
    </div>
    <div class="card">
      <div class="column">
        <h3>Bio:</h3>
        <p><%= @user.bio %></p>
      </div>
    </div>
  </section>
  <section class="center">
    <ul>
      <% @user.posts.each do |post| %>
        <%= link_to user_post_path(@user, post) do %>
          <li class="card column hover">
            <h3 class="left"><%= post.title %></h3>
            <h4 class="left"><%= post.text %></h4>
            <div class="right">
              <span>Comments: <%= post.comments_counter %></span>
              <span class="left">Likes: <%= post.likes_counter %></span>
            </div>
          </li>
        <% end %>
      <% end %>
    </ul>
    <%= link_to "See all posts", user_posts_path(user_id: @user.id), class: "btn" %>
  </section> 
</main>
