<main>
  <section class="card column">
    <div class="card column">
      <h2><%= @post.title %></h2>
      <p><%= @post.text %></p>
      <div class="right">
        <span>Comments: <%= @post.comments_counter %></span>
        <span>Likes: <%= @post.likes_counter %> </span>
      </div>
      <div class="button_field">
        <%= link_to "Comment", new_user_post_comment_path(user_id: @post.author_id, post_id: @post.id ), class: "btn" %>
        <%= form_with model: @like, url: user_post_likes_path(post_id: @post.id) do |form| %>
          <%= form.submit "Like", class: "btn" %>
        <% end %>
      </div>
    </div>
    <div class="commets-container">
      <h4>Comments:</h4>
      <ul>
        <% @post.comments.each do |comment| %>
          <p><%= comment.author.name %>: <%= comment.text %></p>
        <% end %>
      </ul>
    </div>
  </section>
</main>
